  @import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&family=Montserrat:ital,wght@0,100;0,300;0,400;0,500;1,200&family=Oswald:wght@300&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Josefin Sans', sans-serif;
  }
  
  header{
    width: 100%;
    height: 100vh;
    background-image: url('./Images/37414.jpg');
    box-sizing: border-box;
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  .intro{
    text-transform:initial;
    font-size: 2rem;
    text-align: center;
    color: white;
    font-weight: bold;
    margin-top: 610px;
  }


  .main_header{
    width: 100%;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;    
  }

  .main_header nav{
    width: 550px;
    display:flex;
    justify-content: space-around;
    align-items:center;
  }

  .main_header nav :Link{
    text-decoration: none;
    font-weight: bold;
  }

  .main_header .logo{
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 1190px;
    padding-left: 54px;
    color: white;
    cursor: pointer;
    font-weight: bold;
  }


  .pic1{
    color: white;
    border-radius: 8px;
    padding: 7px 18px;
    font-size: 17px;
  }


  /* .menu_button{
    margin-right: 60px;
  }

  .main_header button{
    padding: 10px 40px;
    color: white;
    background-color: #21ad21;
    border-radius: 10px;
    border: none ;
    font-size: 14px;
    cursor: pointer;
    font-weight: bold;
  } */

  .topit{
    width: 100%;
    height: 100vh;
    background-image: url('./Images/5553605.jpg');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  .topit1{
    width: 100%;
    height: 100vh;
    background-image: url('./Images/31132.jpg');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: 100% 100%;

  }

  /* .pic{
    font-variant: small-caps;
    font-size: 2em;
    letter-spacing: 2px;
    text-align: center;
    word-spacing: 1px;
    text-indent: 50px;
    background-color: #21ad21;
  } */


  .text{
    font-size: 5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(184, 5, 184);
    color: white;
  }


  .mern{
    color: white;
    font-weight: bold;
    font-size: 49px;
    padding-top: 280px;
    padding-left: 100px;
  }

  .mern1{
    color: white;
    font-weight: bold;
    font-size: 25px;
    padding-left: 700px;
    margin-right: 40px;
    margin-top: -110px;
    

  }

  .btn_text{
    border-radius: 20px;
    height: 38px;
    width: 60%;
    border: none;
    font-weight: bold;
    background-color: rgb(184, 5, 184);
    color: white; 
    font-size: 17px;
    text-align: center;
    margin-left: 165px;
    cursor: pointer;
    margin-top: 40px;
  }

  .bg-image {
      filter: blur(8px);
    -webkit-filter: blur(8px);
      height: 100%; 
      background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
  }
  
  .bg-text {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 275%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* width: 47%;
    height: 80%; */
    padding: 20px;
    text-align: center;
  }

  .react{
    width: 80px;
  }

  .js{
    display: flex;
    margin-left: 60px;

  }

  .html{
    margin-left: 250px;
    margin-top: 15px;



  }



  .react1{
    width: 64px;
    display: flex;
    margin-left: 330px;
    margin-top: -64px;
  }

  .markup{
    display: flex;
    margin-left: 250px;
    margin-top: -164px;


  }

  .markup1{
    display: flex;
    margin-left: 250px;
    margin-top: 4px;

  }

  .react{
    display: flex;
    margin-left: 300px;
  }

  .html{
    display: flex;
    margin-right: 100px;
    
  }

  .markup2{
    display: flex;
    margin-left: 260px;
    margin-top: 23px;

  }

  .markup3{
    display: flex;
    margin-left: 348px;
    margin-top: -19px;

  }

  .framework{
    display: flex;
    margin-left: 490px;
    margin-top: -166px;

  }

  .bootstrap{
    display: flex;
    margin-left: 492px;
    margin-top: 36px;
  }

  .bname{
    display: flex;
    margin-top: 21px;
    margin-left: 490px;
  }

  .backend{
    display: flex;
    margin-left: 58px;
    margin-top: 50px;

  }

  

  .node{
    display: flex;
    margin-left: 58px;
    width: 120px;
    margin-top: -30px;

  }

  .nodejs{
    display: flex;
    margin-left: 61px;
    margin-top: -19px;
  }

  .database{
    display: flex;
    margin-left: 300px;
    margin-top: -117px;

  }

  .mongo{
    width: 140px;
    display: flex;
    margin-top: -45px;
    margin-left: 270px;
  }

  .mongodb{
    display: flex;
    margin-top: -30px;
    margin-left: 270px;

  }

  .react2{
    display: flex;
    margin-top: -125px;
    margin-left: 453px;

  }

  .react{
    display: flex;
    margin-top: -10px;
    margin-left: 510px;

  }

  .react3{
    display: flex;
    margin-top: -1px;
    margin-left: 520px;

  }

  .package{
    display: flex;
    margin-top: 32px;
    margin-left: 60px;

  }

  .pack{
    display: flex;
    margin-top: 10px;
    margin-left: 60px;


  }

  .pack1{
    display: flex;
    margin-top: 1px;
    margin-left: 60px;
    font-size: 25px;

  }

  .version{
    display: flex;
    margin-top: -122px;
    margin-left: 280px;

  }

  .git{
    display: flex;
    margin-top: 15px;
    margin-left: 300px;
    width: 50px;

  }

  .git1{
    display: flex;
    margin-top: 18px;
    margin-left: 300px;
    font-size: 18px;

  }

  .text1{
    font-size: 5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(216, 216, 5);
    color: white;
 
  }

  .topit2{
    width: 100%;
    height: 100vh;
    background-image: url('./Images/32042.jpg');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: 100% 100%;
  }

  .text2{
    font-size: 5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 10px;
    background-color: rgb(62, 162, 224);
    color: white;
  }

  .bg-text1 {
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0, 0.4); 
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 390%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2;
    /* width: 47%;
    height: 80%; */
    padding: 20px;
    text-align: center;
    border-radius: 20px;
  }

  .btn_text1{
    border-radius: 20px;
    height: 38px;
    width: 60%;
    border: none;
    font-weight: bold;
    background-color: rgb(62, 162, 224);
    color: white; 
    font-size: 17px;
    text-align: center;
    cursor: pointer;
  }
  



  /* .topit3{
    width: 100%;
    height: 100vh;
    background-image: url('./Images/GST\ CAM\ 910-20.jpg');
    background-repeat: repeat-x;
    background-attachment: fixed;
    background-size: 100% 100%;
  } */

  .bg-text2{
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
    padding: 40px;
    background-color: rgb(62, 162, 224);
    color: white;
  }

 

 